{% extends 'base.html' %}
{% load static %}

{% block title %} Donate {% endblock %}

{% block content %}

<body bgcolor="white">
<center>
<br><br>
<font face="tahoma" size="5"><h1 style="color:gray"><b> Donate Today </b></h1></font></center><br>
<font size="3"><h2> How can you donate? </h2></font>

<img src="{% static '/images/donatee.jpg' %}" alt="" align="right" style="width:350px;height:300px;">

<br><p style="font-size:150%"> YOUR DONATIONS SAVE LIVES!

Dogs&Life is a 100% volunteer-run, non-profit organization.<br>
We are a group of individuals dedicating our time, money, homes, cars, and hearts to saving<br>
 and rescuing dogs.<br><br>
Most may not know this, but the average adoption donation covers less than half the expense <br>
to save and care for each dog that is saved. 
All donations go directly to care for the dogs we save. <br><br>

This care includes vaccinations, spay and neuter, life-saving surgeries, and emergency treatment<br>
 for rescued dogs with life-threatening injuries. 

Your donation will go a long way in helping us give <br>
rescued dogs a second chance at life and match them with a loving family. <br><br>


Thank you for supporting the work that helps thousands of dogs across Karnataka each year.<br><br><br>

<b>Below is the online mode of donation.</b> <br></p>



<a href="https://paytm.com/" target="_blank">
    <button type="submit" style="height:50px; width:150px"><b>Donate</b> </button>
</a>

<br><br>



</body>
{% endblock %}