{% extends 'base.html' %}
{% load static %}

{% block title %} NewVolunteer {% endblock %}

{% block content %}

<body bgcolor="white">
<center>
<br><br>
<font face="tahoma" size="5"><h1 style="color:gray"><b> Be a Volunteer. </b></h1></font></center><br>
<font size="3"><center><h2>Why be a volunteer for animal shelters? </h2></center></font><br><br>


<p><font style="font-size:150%"> It's a feel good thing to do that gives self satisfaction. Being an animal shelter volunteer
simply makes you feel like your doing the right thing.You are contributing to the solution, which makes you feel good about the work you are doing. 
Part of the job as a volunteer is that you work with the animals so they can become adoptable.<br><br> 

<center><img src="{% static '/images/Volunteer.jpg' %}" alt="" style="width:800px;height:350px;"></center>

<br><br>Most of the animals we receive through 
our open door shelter are strays and have had little to no human interaction. 
By working with them on a semi-regular basis, they begin to trust you and other humans in extension. This helps them come out of their shell, stop being so timid, 
and become desirable to adopters.<br><br>




 <br>After spending time with the animals, whether it’s taking them for a walk, giving them a bath or just showing them some love, 
 their personalities come out and they start to shine. 
 You can almost see the change in their behavior instantly. Now, that is something entirely rewarding. <br><br>
 
 <br>However volunteering is completely taken up by an individual's interest and of their concern in strayed animals. Well if you
would like to step up and volunteer feel free to and stop by at the center whenever possible to start !<br><br><br>

<center><img src="{% static '/images/Volunteer2.jpg' %}" alt="" style="width:800px;height:250px;"></center>

<br><br>Animal shelter volunteers are needed! We have a constant intake of animals. Each one of these animals needs your love and care. 
Your help will never go unnoticed and you will never feel like you aren’t helping in some way. There will always be a dog to walk, groom
and shower love to.So sign up today!

<br><br>
<center><marquee><b><font face="tahoma" size="4">Have patience and continue showering your baby with all the love you can.</font><b></marquee></center>
</p>





</body>
{% endblock %}
