{% extends 'base.html' %}
{% load static %}

{% block title %} PrepareYourHome {% endblock %}

{% block content %}
<body bgcolor="white">
<center>
<br><br>
<font face="tahoma" size="5"><h1 style="color:gray"><b> Get Ready ! </b></h1></font></center><br>
<font size="3"><center><h2> Time to bring your companion home. </h2></center></font><br><br>

<center><img src="{% static '/images/ComingHome.jpg' %}" alt="" style="width:800px;height:400px;"></center>
<br><br>

<p><font style="font-size:150%"> It's time to get your place ready for the arrival of your newest family member. Firstly, there's nothing
to freak out about ! Along as you follow certain protocols, it's going to be easy,secure and safe to bring him/her home.<br>
Welcoming a new puppy is an exciting, challenging and hugely rewarding time. If you’re well prepared, 
you can help your puppy settle faster and it’ll be more enjoyable for you too.<br>

<img src="{% static '/images/ConfusedPuppy.jpg' %}" alt="" align="right" style="width:350px;height:300px;">

<br><br>There’s lots of things to do before you collect your puppy to make sure you’re ready for their arrival. As well as buying important equipment for them, 
<br><br><br>There’s lots of things to do before you collect your puppy to make sure you’re ready for their arrival. As well as buying important equipment for them, 
it’s vital to make appropriate preparations at home too.<br><br><br>

Puppies are curious and love to explore, so it’s important you make sure your home’s safe and secure for before you collect your new arrival.<br>
Here's a few things to watch out for : <br><br>
<b>Toxic Houseplants : </b> Many common houseplants are very dangerous for dogs and puppies, including, lilies, aloe vera, ivy, dieffenbachia, caladium, 
pothos, zamioculcas, cyclamen. It’s best to either keep all houseplants out of the way of your puppy, or double check to make sure yours don’t pose a threat for them. 
<br><br>
<b>Dangerous Substances : </b>Store chemicals, cleaning products, medicines and other toxic substances out of reach, or 
use child locks on your cupboards if needed.<br><br>
<b>Hazards : </b> Puppies can easily fall or get stuck while they’re exploring. To keep them safe, use stair gates, keep windows and external 
doors closed and secure any balconies.<br><br>
<b>Electrical cables : </b> Now these are very tempting for puppies to chew on and they can also get tangled in them. Hide yours away by using cable ties or covers, 
and also shield plug sockets with covers.<br><br>
<b>Small Objects : </b> Puppies like to explore things with their mouths, so put away any small items they could chew or swallow. Time to keep those away!<br><br><br>


<center><img src="{% static '/images/DogAtHome2.jpg' %}" alt="" style="width:800px;height:350px;"></center>

<br>Let us mention a few things you may need before bringing a puppy or dog home : <br><br>
<b>1.Bedding :</b> Choose one that will be comfortable even after your puppy grows.<br><br>
<b>2.Puppy mats :</b> There will surely be potty accicidents the first few weeks! These will help.<br><br>
<b>3.Crate :</b> As an adult, your dog must have enough room to stand up, turn around, lie down and stretch out in their crate.<br><br>
<b>4.Food and water bowls :</b>Stainless steel bowls work well as they can’t be chewed, are easy to clean and don’t rust, chip or break. 
Noise sensitive puppies may prefer plastic bowls.<br><br>
<b>5.Puppy food to support growth : VERY IMPORTANT !! </b>
Initially, this should be the same food your puppy's being fed before you collect them.<br><br>
<b>6.Toys :</b>Buy toys, balls or treat-dispensing chews that are the right size for your puppy. Rubber dog toys are often more durable.<br><br>
<b>7.Collar and leash :</b>Choose a collar that will adjust as your puppy grows. And check it’s snug enough not to slip over their head.<br><br>
<b>8.Grooming equipment :</b>Depending on your puppy's coat type, you may need a brush, comb or grooming mitt. You’ll also need nail clippers designed for dogs.<br><br>
<b>9.Hygiene equipment :</b>Choose a toothbrush, toothpaste and shampoo that's specially designed for dogs.<br><br>


<center><img src="{% static '/images/DogSmiling.jpg' %}" alt="" style="width:650px;height:350px;"></center>

<br>
<center><marquee><b><font face="tahoma" size="4">Have patience and continue showering your baby with all the love you can.</font><b></marquee></center>
</p>



</body>
{% endblock %}
