{% extends 'base.html' %}
{% load static %}

{% block title %} ReleaseOfOwnership {% endblock %}

{% block content %}

<body bgcolor="white">
<center>
<br><br>
<font face="tahoma" size="5"><h1 style="color:gray"><b> Releasing your dog to a shelter. </b></h1></font></center><br>
<font size="3"><center><h2> You can surrender your dog by taking him to an animal shelter or rescue organization.  </h2></center></font><br><br>

<p><font style="font-size:150%"> When you adopt a pet, it becomes like a member of the family. But sometimes, 
for reasons beyond your control, you have to allow someone else to take ownership of your pet. A written contract is a good way to transfer 
pet ownership if you want to specify care and treatment.<br><br>
 If your pet is microchipped, that ownership also must be transferred, along with local licenses. 
Pedigreed pets, particularly cats and dogs, should have their ownership transferred with the pedigree association as well.<br><br>

<img src="{% static '/images/DogEyes.jpg' %}" alt="" align="right" style="width:350px;height:300px;">

<br>Re-homing a dog is not only hard on you the owner, but will be very hard on the dog you are surrendering. 
It is important that you start this process early so you can continue to foster and support your dog as we work to find them a new home.<br><br>
 Our goal is to keep the dog in their home for as long as possible while they are available for adoption. <br><br>

Our dog foster program is designed to help adult dogs from local shelters to get a second chance at finding a home — a chance they may not have received at a shelter.
<br>Many of the dogs who need foster homes require extra care and attention, which shelters often don’t have the staff or resources to provide.<br><br>

<b>If you are surrendering a Dogs&Life adopted dog please also email us at dogsandlife@gmail.com with the reasons for the return and follow these steps below.</b><br><br>

<br><b>Steps to follow to surrender your dog:</b><br><br>

1. Be sure you have tried everything to make it work with your dog like training, enlisting the help of friends or family, crating, using training collars, 
research plus your time and commitment.<br><br>

2. With your best information complete the online Request to Relinquish Your Dog Form.<br><br>

3. Be prepared to support your dog through this process by providing their favorite items, including: food, bed, leash, collar, and toys. 
You should also be prepared to support your dog by fostering and attending adoption events with your dog.<br><br>

4. Compile their veterinarian records and be sure your dog is current on vaccinations as you will need to send us these records.<br><br>

Are you able to make a donation to support the surrender of your dog to Dogs&Life?<br><br>





</body>
{% endblock %}