{% extends 'base.html' %}
{% load static %}

{% block title %} WhyDogs&Life {% endblock %}

{% block content %}

<body bgcolor="white">
<center>
<br><br>
<font face="tahoma" size="5"><h1 style="color:gray"><b> Why Dogs&life ? </b></h1></font></center><br>
<font size="3"><h2> Who we are. </h2></font>

<p><font style="font-size:150%"> We are just like you, someone who cares enough to make a difference 
by getting involved. We are a non-profit, 100% volunteer run organization that operates on the strength of our 
dedicated volunteers that have an overwhelming sense of compassion and love for our canine companions. <br><br>
Through our active network of dedicated volunteers and fosters, we are able to make a real difference in the lives of 
thousands of dogs from shelters in Bangalore and across Karnataka.</font></p>

<img src="{% static '/images/HelpDog.jpg' %}" alt="" align="right" style="width:450px;height:350px;">

<br><font size="3"><h2> Why we exist. </h2></font>
<p><font style="font-size:150%">
To provide a safe haven and the care needed for adoptable large breed dogs and puppies that would otherwise die in shelters or on the streets.<br> 
To educate the public on what it takes to own a dog and the care they need to live healthy rewarding lives. <br><br>
To give neglected and abused animals a new chance to see the kindness in humans. We work to bring families and dogs together for a lifelong journey 
of love and respect.</font></p> <br>

<br><font size="3"><h2> What we believe. </h2></font>
<p><font style="font-size:150%">
Our friends we call dogs deserve a dignified existence regardless of age, health, breed or where they came from. Dogs are resilient creatures 
who, with love, security, proper nutrition and medical care can most often be reintegrated into a home to bond with a forever family.<br><br>
Our dog foster program is designed to help adult dogs from local shelters to get a second chance at 
finding a home — a chance they may not have received at a shelter.<br><br>
<b><marquee><font face="tahoma" size="4">"We might not be able to save them all, but together we will save all that we can!"</font></marquee></b></font></p>

<br>




</body>
{% endblock %}